*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {

}

.gameboardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    font-size: 3rem;
    border: 2px solid black;
}

.gameboardContainer > button {
    background-color: white;
    border: 2px solid gray;
    height: 6rem;
    width: auto;
    color: black;
}

.gameboardContainer > button:hover:not([disabled]) {
    cursor: pointer;
    background-color: gray;
}

.gameboardContainer > button:active:not([disabled]) {
    background-color: black;
}