*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {

}

.gameboardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    font-size: 3rem;
    border: 2px solid black;
}

.gameboardContainer > div {
    background-color: white;
    border: 1px solid gray;
    height: 6rem;
    width: auto;
}

.gameboardContainer > div:hover {
    cursor: pointer;
}